.pyc
SVM-Week1/f16RBE595/*.pyc
SVM-Week1/f16RBE595/classifiers/*.pyc
SVM-Week1/f16RBE595/data/cifar-10-batches-py/*
SVM-Week1/f16RBE595/__pycache__
image-parser/VOCdevkit/VOC2012
image-parser/classes
